/* @import 'tailwindcss'; */
/* reset-----------------------------开始 */
body {
  margin: 0;
}
/* reset-----------------------------结束 */
/* :root {
  --background: white;
  --text: black;
  --primary: #2563eb;
} */

[data-theme="light"] {
  --background: white;
  --text: black;
  --primary: #2563eb;
}

[data-theme="dark"] {
  /* 深色主题 */
  --background: #1a1a1a;
  --text: red;
  --primary: #3b82f6;
}

/* 深色色背景下样式, 避免页面刷新闪烁白背景主题 */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --text: red;
    --primary: #3b82f6;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

body button {
  color: var(--text);
}
