$primary-color: #64ff00;
.header {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  border: solid 1px #ccc;
  .headerLeft {
    display: flex;
  }
  .headerRight {
    display: flex;
  }
  button {
    color: green;
  }
}

:export {
  primaryColor: $primary-color;
}
